params {
    input = null
    output_dir = "results"

    min_genes = 200
    max_genes = 10000
    max_pct_mt = 20.0
    min_cells = 3
    mito_prefix = 'MT-'
    ribo_prefix = ['RPS', 'RPL']

    n_top_genes = 2000

    n_pcs = 30
    n_neighbors = 15
    resolution = 1.0
}

process {
    container = 'scrna-pipeline:latest'
    cpus = 4
    memory = { 8.GB * task.attempt }
    errorStrategy = { task.exitStatus in [137, 140, 143] ? 'retry' : 'terminate' }
    maxRetries = 2
}

docker {
    enabled = true
}

profiles {
    test {
        params.input = 'https://cf.10xgenomics.com/samples/cell-exp/3.0.0/pbmc_1k_v3/pbmc_1k_v3_filtered_feature_bc_matrix.h5'
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'my-batch-queue'
        process.container = 'account_://amazonaws.com'
        aws.region = 'us-east-1'
        params.output_dir = 's3://my-scrna-bucket/results'
        workDir = 's3://my-scrna-bucket/work'
    }
}