params {
    input = null
    output_dir = "results"

    min_genes = 200
    max_genes = 10000
    max_pct_mt = 20.0
    min_cells = 3
    mito_prefix = 'MT-'
    ribo_prefix = ['RPS', 'RPL']

    n_top_genes = 2000

    n_pcs = 30
    n_neighbors = 15
    resolution = 1.0
}

process {
    container = 'scrna-pipeline:latest'
}

docker {
    enabled = true
}
